<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>table_Produit</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'choose' %}">ADD</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              more details at centers
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'select_product' 1 'centre'%}">center 1</a></li>
              <li><a class="dropdown-item" href="{% url 'select_product' 2 'centre'%}">center 2</a></li>
              <li><a class="dropdown-item" href="{% url 'select_product' 4 'centre'%}">center 3</a></li>
              <!--<li><a class="dropdown-item" href="#">Another action</a></li>-->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="POST" action="{% url 'search_product' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="passed">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <br>
  <h1 style="margin-left: 20px;"> la liste des produits disponibles pour la vente : </h1>
  <a href="{% url 'list_produit'%}"></a>
  <table  class="table table-hover table table-bordered border-primary" style="width: 98%; margin: 10px;">
    <thead>
        <tr align="center">
           <th>Name</th>  
        </tr>
    </thead>
    <tbody>
      {% for product in produit %}
      <tr align="center" >
        <td><a href="{% url 'select_product' product.prod_ID 'produit' %}" style="text-decoration: none;">{{ product.prod_NAME }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h1 style="margin-left: 20px;"> la liste des matiere premiere : </h1>
  <table  class="table table-hover table table-bordered border-primary" style="width: 98%; margin: 10px;">
    <thead>
        <tr align="center">
           <th>Name</th>  
        </tr>
    </thead>
    <tbody>
      {% for mat in matiere_premiere %}
      <tr align="center" >
        <td><a href="{% url 'select_product' mat.matiere_ID 'matiere_premiere' %}" style="text-decoration: none;">{{ mat.matiere_NAME }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h1 style="margin-left: 20px;"> la liste des clients fidele : </h1>
  <a href="{% url 'list_produit'%}"></a>
  <table  class="table table-hover table table-bordered border-primary" style="width: 98%; margin: 10px;">
    <thead>
        <tr align="center">
           <th>Name</th>  
        </tr>
    </thead>
    <tbody>
      {% for cl in client %}
      <tr align="center" >
        <td> 
          <a href="{% url 'select_product' cl.client_ID 'client' %}" style="text-decoration: none;">{{ cl.client_NAME }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h1 style="margin-left: 20px;"> la liste des fournisseurs : </h1>
  <a href="{% url 'list_produit'%}"></a>
  <table  class="table table-hover table table-bordered border-primary" style="width: 98%; margin: 10px;">
    <thead>
        <tr align="center">
           <th>Name</th>  
        </tr>
    </thead>
    <tbody>
      {% for fr in fournisseur %}
      <tr align="center" >
        <td>
          <a href="{% url 'select_product' fr.fournisseur_ID 'fournisseur' %}" style="text-decoration: none;">{{ fr.fournisseur_NAME }}</a>  
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h1 style="margin-left: 20px;"> la liste des centres : </h1>
  <a href="{% url 'list_produit' %}"></a>
  <table  class="table table-hover table table-bordered border-primary" style="width: 98%; margin: 10px;">
    <thead>
        <tr align="center">
           <th>Name</th>  
        </tr>
    </thead>
    <tbody>
      {% for cent in centre %}
      <tr align="center" >
        <td><a href="{% url 'select_product' cent.centre_ID 'centre' %}" style="text-decoration: none;">{{ cent.centre_NAME }}</a></td>       
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h1 style="margin-left: 20px;"> la liste des employes : </h1>
  <a href="{% url 'list_produit'%}"></a>
  <table  class="table table-hover table table-bordered border-primary" style="width: 98%; margin: 10px;">
    <thead>
        <tr align="center">
           <th>Name</th>  
        </tr>
    </thead>
    <tbody>
      {% for emp in team %}
      <tr align="center" >
        <td> 
          <a href="{% url 'select_product' emp.employer_CODE 'team' %}" style="text-decoration: none;">{{ emp.employer_NOM }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

  
  
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
</body>
</html>
